*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
6[[:space:]]-[[:space:]]Vettori[[:space:]]parte[[:space:]]1.pdf filter=lfs diff=lfs merge=lfs -text
7[[:space:]]-[[:space:]]Vettori[[:space:]]parte[[:space:]]2.pdf filter=lfs diff=lfs merge=lfs -text
8[[:space:]]-[[:space:]]Vettori[[:space:]]parte[[:space:]]3.pdf filter=lfs diff=lfs merge=lfs -text
1[[:space:]]-[[:space:]]Introduzione.pdf filter=lfs diff=lfs merge=lfs -text
2[[:space:]]-[[:space:]]Grandezze[[:space:]]fisiche.pdf filter=lfs diff=lfs merge=lfs -text
3[[:space:]]-[[:space:]]Misure[[:space:]]ed[[:space:]]errori.pdf filter=lfs diff=lfs merge=lfs -text
4[[:space:]]-[[:space:]]Approssimazione.pdf filter=lfs diff=lfs merge=lfs -text
5[[:space:]]-[[:space:]]Problema[[:space:]]di[[:space:]]Nasdir.pdf filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
