*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
3[[:space:]]-[[:space:]]Oscillatore[[:space:]]Armonico[[:space:]]Semplice[[:space:]]parte[[:space:]]1.pdf filter=lfs diff=lfs merge=lfs -text
4[[:space:]]-[[:space:]]Oscillatore[[:space:]]Armonico[[:space:]]Semplice[[:space:]]parte[[:space:]]2.pdf filter=lfs diff=lfs merge=lfs -text
1[[:space:]]-[[:space:]]Oscillatore[[:space:]]Armonico[[:space:]]Forzato.pdf filter=lfs diff=lfs merge=lfs -text
2[[:space:]]-[[:space:]]Oscillatore[[:space:]]Armonico[[:space:]]Smorzato.pdf filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
